* { 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.main {
    display: flex;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    flex: 1;
}

.calc-body {
    display: flex;
    flex-direction: column;
    border: solid;
    height: 400px;
    width: 300px;
    align-items: stretch;
}

.screen-container {
    display: flex;
    flex-direction: column;
    border: solid;
    flex-basis: 80px;

}

.buttons {
    display: flex;
    border: solid;
    flex-grow: 1;
}

.digits {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    border: dodgerblue;
    border: solid;
    flex-basis: 200px;
}

.operators {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

#screen {
    margin: auto;

}

.btn-row {
    flex-grow: 1;
    display: flex;
    justify-content: space-around;
}

.btn {
    flex: 1;
}