* { 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.calc-container {
    display: flex;
    flex-direction: column;
    border: solid;
}

.screen-container {
    display: flex;
    border: solid;
}

.buttons {
    display: flex;
    border: solid;
}

.digits {
    display: flex;
    flex-direction: column;
}

.operators {
    display: flex;
    flex-direction: column;
}